*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  justify-content: center;
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

.content {
  width: 1140px;
  display: grid;
  align-items: center;
  grid-template-areas: 'left right';
  grid-template-columns: 711px 399px;
  gap: 30px;
}

.result {
  grid-area: left;
  margin-top: 78px;
}

.result__video-container {
  width: 711px;
  height: 386px;
  margin-bottom: 16px;
  position: relative;
}

.result__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.search-form {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.search-form__fieldset {
  border: none;
}

.search-form__label {
  display: flex;
  width: fit-content;
  cursor: pointer;
  align-items: center;
}

/* написано факультатив для лейбла (Шаг4)*/

.search-form__label:has(:focus-visible) {
  outline: 1px solid white;
  outline-offset: 1px;
}

/*поэтому это под вопросом*/

.search-form__textfield {
  font-family: 'Fira Sans Condensed', 'Arial Narrow', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  box-sizing: border-box;
  border: none;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  background-color: transparent;
  width: 225px;
  height: 27px;
  margin-left: 0;
  padding-left: 0;
  color: #fff;
  appearance: none;
}

.search-form__textfield:focus-visible {
  outline: none;
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
  margin-bottom: 5px;
}

.search-form__fieldset-title {
  font-family: 'Fira Sans Condensed', 'Arial Narrow', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  margin-bottom: 5px;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.search-form__pseudo-checkbox {
  width: 19px;
  height: 19px;
  box-sizing: border-box;
  border: 1px solid white;
  margin-right: 5px;
  position: relative;
}

.search-form__pseudo-checkbox::after {
  content: '';
  width: 15px;
  height: 15px;
  background-color: #fff;
  position: absolute;
  top: 1px;
  left: 1px;
  display: none;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  display: block;
}

/* факультатив */

.search-form__label:hover .search-form__label-text {
  text-decoration: underline;
}

.button {
  height: 34px;
  color: white;
  background-color: transparent;
  border: 1px solid #fff;
  font-family: 'Fira Sans Condensed', 'Arial Narrow', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 100%;
  text-align: center;
  box-sizing: border-box;
  cursor: pointer;
}

.button:active {
  background-color: #545050;
}

.button:hover {
  text-decoration: underline;
}

.button:focus {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.search-form__submit-button {
  width: 194px;
  justify-content: flex-end;
}

.more-button {
  width: 100%;
  margin-top: 30px;
}

.content__details {
  grid-area: right;
  width: 100%;
  max-height: 100%;
}

.title {
  padding-bottom: 26px;
  font-family: Oswald, 'Arial Narrow', sans-serif;
  font-weight: 700;
  font-size: 75px;
  line-height: 94%;
  text-transform: uppercase;
}

.title .content__accent {
  color: #545050;
}

.content__list-container {
  overflow-y: auto;
  max-height: 298px; /* ограничение по высоте */
  position: relative;
}

.content__list {
  display: grid;
  gap: 30px;
}

.content__card-link {
  text-decoration: none;
  color: #fff;
}

.content__video-card-title {
  font-family: Oswald, 'Arial Narrow', sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 100%;
  text-transform: uppercase;
  white-space: nowrap; /* запрет переноса строк */
  overflow: hidden; /* скрыть всё, что не помещается */
  text-overflow: ellipsis; /* добавить многоточие */
  display: block;
  max-width: 196px;
  margin-bottom: 6px;
}

.content__video-card-description {
  font-family: 'Fira Sans Condensed', 'Arial Narrow', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 16.2px;
  display: box;
  overflow: hidden;
  text-overflow: ellipsis;
  line-clamp: 4; /* стандартное свойство (добавляется для совместимости, но работает не везде) */
}

.content__video-card {
  display: flex;
  align-items: start;
}

.content__card-link:hover {
  text-decoration: underline;
}

/*ДОРОГАЯ НАТАЛЬЯ, СТИЛИ СОСТОЯНИЯ КНОПКИ Я ЗАДАЛ ВЫШЕ И АБСОЛЮТНО НЕ ПОНИМАЮ ЧТО С НЕЙ НЕ ТАК?*/

.content__video-card-thumbnail {
  width: 194px;
  height: 103px;
  object-fit: cover;
  object-position: center;
}

.content__video-card-description-container {
  flex-grow: 1;
}

.content__card-link_current {
  background-color: #545050;
  display: block;
}

/* Кастомный скроллбар */

.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 0.1);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #d9d9d9;
}
